doctype html
html(lang="en")
    head
        title Stadiums
        style(type='text/css').
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: #dddddd;
            }

    body
        h1 List of Stadiums
            
        table
            tr
                th ID
                th Club Name
                th Stadium Name
                th Address
            for stadium in stadiums
                tr
                    th=stadium.stadium_id
                    th=stadium.club_name
                    th=stadium.stadium_name
                    th=stadium.stadium_address